<!--

* File name: home_page.ejs
* Student name: Keyur Sheladeeya
* Student Id: 301167493
* Date: 12-02-2021 (DD-MM-YYYY)

-->

<% if (title == "Home"){ %>
      <div class="container">
        <div class="row contact-detail">
          <div class="col-sm-6">
            <span><b>First Name: </b><%= firstName %></span>
          </div>
          <div class="col-sm-6">
            <span><b>Last Name:</b> <%= lastName %></span>
          </div>
        </div>

        <div class="row contact-detail">
          <div class="col-sm-6">
            <span><b>Contact Number: </b><%= contactNumber %></span>
          </div>
          <div class="col-sm-6">
            <span><b>Email Address:</b> <%= emailId %></span>
          </div>
        </div>

        <div class="row contact-detail">
          <div class="col-sm-12">
            <p><span><b>Message: </b></span><%= message %></p>
          </div>
        </div>

        <!-- Mission Statement -->
        <div class="card mb-3">
  
            <img class="card-img-top happiness" src="Assets/images/timetobehappy.jpg" alt="Happiness behind">
          
          <div class="card-body">
            <h5 class="card-title">Spreading Happiness</h5>
            <p class="card-text">In today's stressfull life, Our mission is to make people smile and make happiness a huge stress buster.Nowadays, It is rare to find happiness but We want to make earth like a smiley ball.</p>
            <p class="card-text"><small class="text-muted">Spread happiness without no reason</small></p>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-sm-12">
            <a href="/about" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">About Me</a>
            <a href="/services" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Our Services</a>
          </div>
        </div>
        
      </div>  
    <% } %>