<!--

* File name: index.ejs
* Student name: Keyur Sheladeeya
* Student Id: 301167493
* Date: 12-02-2021 (DD-MM-YYYY)

-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <div class="container" style="margin-bottom: 100px;"> <!--class container start -->
    <div class="jumbotron">
      <h1 class="display-4"><% if (title == "Home"){ %>
        Welcome To My Portfolio Website
        <% } else { %> <%= title %> <% } %> </h1>
    </div>
    
    <!--Home page content -->
    <%- include partials/home_page.ejs %>

    <!--About me page content-->
    <%- include partials/about_me.ejs %>

    <!-- Projects page content -->
    <%- include partials/projects.ejs %>

    <!--Services page content-->
    <%- include partials/services.ejs %>
    
    <!-- contact webform page content -->
    <%- include partials/contact_info_form.ejs %>
    
</div><!-- container class end-->
  
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
  




